@import "tailwindcss";

/* theme */
@import './theme/colors.css';

/* base */
@layer base {
  @import './base/variables.css';
  @import './base/html-body.css';
  @import './base/typography.css';
  @import './base/dialog.css';
  @import './base/nav.css';
  @import './base/backgrounds.css';
  @import './base/align.css';
}

/* components */
@layer components {
  @import './components/header.css';
  @import './components/footer.css';
  @import './components/dropdown.css';
}

/* blocks */
@import './blocks/button.css';
@import './blocks/separator.css';
