.accordion {
  grid-auto-flow: row;
  gap: inherit;
  color: var(--accordion-text-color);
  margin: 1rem 0;
  width: 100%;

  .external {
    svg {
      fill: var(--accordion-text-color);
    }
  }

  :where(&, & li) {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  /* submenu group */
  details {
    width: 100%;
    margin-block-start: calc(var(--accordion-caret-height) * -1);

    > ul {
      margin: 1rem 0;
      border-radius: var(--accordion-border-radius);
      background-color: var(--color-gray-500);
      padding: 0.5rem;
    }
  }

  /* caret */
  summary {
    padding: 0.4em 0.6em 0.5em 0.85em;
    background-color: var(--accordion-caret-background-color);
    color: var(--accordion-caret-color);
    height: var(--accordion-caret-height);
    border-radius: var(--accordion-caret-radius);
    width: var(--accordion-caret-width);
    margin: 0 0 0 auto;
    text-align: center;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    margin-block-start: -2px;

    &:hover {
      color: var(--accordion-caret-hover-text-color);
      background-color: var(--accordion-caret-hover-background-color);
    }

    &:focus {
      color: var(--accordion-caret-focus-text-color);
      background-color: var(--accordion-caret-focus-background-color);
      outline: solid var(--outline-width) var(--outline-color);
    }
  }

  details[open] {
    position: relative;
  }

  a {
    width: 100%;
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 0.5em;
    padding: 0.4rem 0.5rem;
    border-radius: var(--accordion-border-radius);
    padding: var(--accordion-padding);
  }

  > li {
    margin-block-end: 0.5rem;
    display: flex;
    flex-flow: row wrap;

    > a {
      z-index: 1;
      width: 100%;
      color: var(--accordion-text-color);
      padding: var(--accordion-details-padding);

      .external {
        svg {
          fill: var(--accordion-text-color);
        }
      }

      &:hover {
        color: var(--accordion-hover-text-color);
        background-color: var(--accordion-hover-background-color);

        .external {
          svg {
            fill: var(--accordion-hover-text-color);
          }
        }
      }

      &:focus {
        color: var(--accordion-focus-text-color);
        background-color: var(--accordion-focus-background-color);

        .external {
          svg {
            fill: var(--accordion-focus-text-color);
          }
        }
      }

      &:has(+ details) {
        width: calc(100% - var(--accordion-caret-width) - 1rem);
      }

      html.no-js & {
        @supports not selector(:has) {
          width: calc(100% - var(--accordion-caret-width) - 1rem);
        }
      }
    }

    li {
      margin: 0.1em 0;

      a {
        color: var(--accordion-details-text-color);
        padding: 0.5em;

        .external {
          svg {
            fill: var(--accordion-details-text-color);
          }
        }

        &:hover {
          color: var(--accordion-details-hover-text-color);
          background-color: var(--accordion-details-hover-background-color);
        }

        &:focus {
          color: var(--accordion-details-focus-text-color);
          background-color: var(--accordion-details-focus-background-color);
        }
      }
    }
  }

  details {
    margin-block-end: 0;
  }
}
