.accordion {
  @apply grid grid-flow-row gap-[inherit] text-(--accordion-text-color) my-4 mx-0 w-full;

  .external {
    svg {
      @apply fill-(--accordion-text-color);
    }
  }

  :where(&, & li) {
    @apply m-0 p-0 list-none;
  }

  /* submenu group */
  details {
    @apply w-full mt-[calc(-1*var(--accordion-caret-height))];

    > ul {
      @apply my-4 mx-0 rounded-(--accordion-border-radius) bg-gray-500 p-2;
    }
  }

  /* caret */
  summary {
    @apply pt-[0.4em] pr-[0.6em] pb-[0.5em] pl-[0.85em] bg-(--accordion-caret-background-color) text-(--accordion-caret-color) h-(--accordion-caret-height) rounded-(--accordion-caret-radius) w-(--accordion-caret-width) my-0 mr-0 ml-auto text-center cursor-pointer box-border -top-0.5;

    &:hover {
      @apply text-(--accordion-caret-hover-text-color) bg-(--accordion-caret-hover-background-color);
    }

    &:focus {
      @apply text-(--accordion-caret-focus-text-color) bg-(--accordion-caret-focus-background-color);
    }
  }

  details[open] {
    @apply relative;
  }

  a {
    @apply w-full flex no-underline! items-center gap-[0.5em] py-2 px-2 rounded-(--accordion-border-radius) p-(--accordion-padding);
  }

  > li {
    @apply mb-2 flex flex-row flex-wrap;

    > a {
      @apply z-1 w-full text-(--accordion-text-color) p-(--accordion-details-padding);

      .external {
        svg {
          @apply fill-(--accordion-text-color);
        }
      }

      &:hover {
        @apply text-(--accordion-hover-text-color) bg-(--accordion-hover-background-color);

        .external {
          svg {
            @apply fill-(--accordion-hover-text-color);
          }
        }
      }

      &:focus {
        @apply text-(--accordion-focus-text-color) bg-(--accordion-focus-background-color);

        .external {
          svg {
            @apply fill-(--accordion-focus-text-color);
          }
        }
      }

      &:has(+ details) {
        @apply w-[calc(100%-var(--accordion-caret-width)-1rem)];
      }
    }

    li {
      @apply my-[0.1em] mx-0;

      a {
        @apply text-(--accordion-details-text-color) p-[0.5em];

        .external {
          svg {
            @apply fill-(--accordion-details-text-color);
          }
        }

        &:hover {
          @apply text-(--accordion-details-hover-text-color) bg-(--accordion-details-hover-background-color);
        }

        &:focus {
          @apply text-(--accordion-details-focus-text-color) bg-(--accordion-details-focus-background-color);
        }
      }
    }
  }

  details {
    @apply mb-0;
  }
}
