.wp-block-button {
  @apply inline-block;
}

:is(.wp-element-button, .wp-block-button__link) {
  @apply px-4 py-2 bg-primary-500 text-white rounded hover:bg-primary-700 focus:bg-primary-700 transition-colors duration-200;

  /* outline style */
  &.is-style-outline {
    @apply px-4 py-2 border border-primary-500 text-primary-500 bg-transparent rounded hover:bg-primary-500 hover:text-white focus:bg-primary-500 focus:text-white transition-colors duration-200;
  }
}
