.banner {
  @apply sticky inset-x-0 bg-primary-500 top-(--wp-admin--admin-bar--height,0rem) hidden lg:flex z-[90] h-(--site-header-height);

  .brand {
    @apply shrink p-4;
  }

  .nav-primary {
    @apply grow;
  }

  .nav {
    @apply justify-end p-4;

    &.button-nav {
      .button {
        @apply bg-secondary-500 hover:bg-secondary-800 focus:bg-secondary-800 rounded-lg;
      }
    }
  }
}

.nav-primary {
  @apply flex justify-end items-center;
}

.compact-menu {
  @apply fixed inset-x-0 bg-primary-500 flex lg:hidden top-(--wp-admin--admin-bar--height,0rem);

  .brand {
    @apply shrink p-4;
  }

  .open-buttons {
    @apply flex grow justify-end items-center;
  }
}
