.banner {
  @apply fixed inset-x-0 bg-primary-300 top-(--wp-admin--admin-bar--height,0rem) hidden lg:flex z-[90] h-(--site-header-height);

  .brand {
    @apply shrink p-4;
  }

  .nav-primary {
    @apply grow;
  }

  .nav {
    @apply justify-end p-4;
  }
}

.nav-primary {
  @apply flex justify-end items-center;
}

.compact-menu {
  @apply fixed inset-x-0 bg-primary-300 flex lg:hidden top-(--wp-admin--admin-bar--height,0rem) z-[90] h-(--compact-header-height);

  .brand {
    @apply shrink p-4;
  }

  .open-buttons {
    @apply flex grow justify-end items-center;
  }

  .side-menu {
    @apply bg-primary-300;
  }
}
