dialog {
  @apply m-auto p-4 w-3/4 h-3/4 max-w-full max-h-full lg:hidden;

  &.is-fit {
    @apply p-0;
  }

  &.is-full {
    @apply w-full h-full max-w-full max-h-full;
  }

  &::backdrop {
    @apply bg-black opacity-75;
  }

  &[open] {
    body:has(&) {
      @apply overflow-hidden;
    }
  }
}
