html {
  @apply scroll-smooth;
  container-type: scroll-state;
}

/* offsets anchor links so they don't fall behind the site header */
[id] {
  @apply scroll-mt-[calc(1rem+var(--site-header-height))];
}
